[SERVICE]
    Flush         1
    Log_Level     info
    Daemon        Off

    storage.path  {{ log_forwarder_storage_path }}
    storage.sync  normal

    Parsers_File  /etc/fluent-bit/parsers.conf
    Parsers_File  /etc/fluent-bit/parsers-logbeat-forwarder.conf

[INPUT]
    Name                systemd
    Tag                 {{ log_forwarder_journal_tag }}
    DB                  {{ log_forwarder_systemd_db }}
    Read_From_Tail      {{ 'On' if log_forwarder_read_from_tail | bool else 'Off' }}

    Lowercase           On
    Strip_Underscores   On

{% if log_forwarder_audit_enabled | bool %}
[INPUT]
    Name              tail
    Tag               {{ log_forwarder_audit_tag }}
    Path              /var/log/audit/audit.log

    Parser            audit_raw
    DB                {{ log_forwarder_audit_db }}

    Mem_Buf_Limit     20MB
    Skip_Long_Lines   On

[FILTER]
    Name          parser
    Match         {{ log_forwarder_audit_tag }}
    Key_Name      message
    Parser        audit_msg
    Reserve_Data  On
    Preserve_Key  On

[FILTER]
    Name          parser
    Match         {{ log_forwarder_audit_tag }}
    Key_Name      audit_msg
    Parser        audit_package_fields
    Reserve_Data  On
    Preserve_Key  On

[FILTER]
    Name          parser
    Match         {{ log_forwarder_audit_tag }}
    Key_Name      message
    Parser        audit_apt_execve_fields
    Reserve_Data  On
    Preserve_Key  On

[FILTER]
    Name          parser
    Match         {{ log_forwarder_audit_tag }}
    Key_Name      message
    Parser        audit_dpkg_execve_fields
    Reserve_Data  On
    Preserve_Key  On

[FILTER]
    Name    modify
    Match   {{ log_forwarder_audit_tag }}
    Set     log_type auditd
    Add     hostname {{ ansible_hostname }}
{% endif %}

{% if log_forwarder_security_files_enabled | bool %}
[INPUT]
    Name              tail
    Tag               {{ log_forwarder_security_files_tag }}
    Path              {{ log_forwarder_security_log_paths | join(',') }}
    DB                {{ log_forwarder_security_files_db }}
    Read_from_Head    On
    Mem_Buf_Limit     20MB
    Skip_Long_Lines   On

[FILTER]
    Name    modify
    Match   {{ log_forwarder_security_files_tag }}
    Rename  log message
    Set     log_type security_file
    Add     hostname {{ ansible_hostname }}
{% endif %}

[FILTER]
    Name          parser
    Match         {{ log_forwarder_journal_tag }}
    Key_Name      message
    Parser        auth_sshd_accepted
    Reserve_Data  On
    Preserve_Key  On

[FILTER]
    Name          parser
    Match         {{ log_forwarder_journal_tag }}
    Key_Name      message
    Parser        auth_sshd_failed
    Reserve_Data  On
    Preserve_Key  On

[FILTER]
    Name          parser
    Match         {{ log_forwarder_journal_tag }}
    Key_Name      message
    Parser        auth_sshd_invalid_user
    Reserve_Data  On
    Preserve_Key  On

[FILTER]
    Name          parser
    Match         {{ log_forwarder_journal_tag }}
    Key_Name      message
    Parser        auth_sshd_closed_invalid_user
    Reserve_Data  On
    Preserve_Key  On

[FILTER]
    Name          parser
    Match         {{ log_forwarder_journal_tag }}
    Key_Name      message
    Parser        auth_pam_session
    Reserve_Data  On
    Preserve_Key  On

[FILTER]
    Name          parser
    Match         {{ log_forwarder_journal_tag }}
    Key_Name      message
    Parser        auth_sudo_command
    Reserve_Data  On
    Preserve_Key  On

[FILTER]
    Name    modify
    Match   {{ log_forwarder_journal_tag }}
    Set     log_type journald
    Add     hostname {{ ansible_hostname }}

[FILTER]
    Name    modify
    Match   *
    Add     journal_forwarder true
    Copy    tag fb_tag

[OUTPUT]
    Name                    gelf
    Match                   *
    Host                    {{ log_forwarder_graylog_gelf_host }}
    Port                    {{ log_forwarder_graylog_gelf_port }}
    Mode                    {{ log_forwarder_graylog_gelf_mode }}

    Workers                 {{ log_forwarder_fluent_bit_workers }}

    Gelf_Host_Key           hostname
    Gelf_Short_Message_Key  message
    Gelf_Level_Key          priority
    Gelf_Tag_Key            fb_tag
